body {
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
  font-family: "Hiragino Kaku Gothic ProN";
}

h1{
  font-weight: normal;
  margin: 0;
}

input  {
  margin: 10px 0;
  padding: 10px 120px 10px 5px;
  border-radius: 4px;
  border: solid rgb(194, 194, 194) 1px;
}

input[type="submit"] {
  padding: 7px 30px 7px 30px;
  background-color: rgb(0, 150, 236);
  color: white;
  border: none;
}