* {
  margin: 0;
  padding: 0;
  background-color: gray;
  text-align: center;
  font-family:serif;
  color: white;
}

p {
  margin-top: 50px;
}
h2 {
  margin: 20px 0;
}
input[type="submit"]{
  background-color: rgb(221, 221, 221);
  border: solid 1px black;
  font-family: sans-serif;
  color: black;
  padding: 0 5px;
  border-radius: 4px;
  margin-top: 30px;
}